*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#gallery-section .section-title{
    text-align: center;
    font-size: 2rem;
    padding: 100px 0 30px;
}

#gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    flex-direction: row;
}

#gallery-section .gallery-list .gallery-item{
    width:calc(100% / 3 -32px);
}

#gallery-section .gallery-list .gallery-item .gallery-image{
    width: 400px;
    height: 400px;
    border-radius: 8px; 
}

#menu-section .menu-list .meno-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}