body {
     background-image: url("https://images.pexels.com/photos/942802/pexels-photo-942802.jpeg?cs=srgb&dl=pexels-goumbik-942802.jpg&fm=jpg");
}
.cta-container ¨{
    background-size : cover;
    background-position: center;
    background-repeat: no-repeat;
    display: 100vp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-text {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.cta-button {
    background-color: #ff0000;
    color: white;
    padding: 15px, 30px;
    font-size: 20px;
}
